<div class="container welcome_section">
    <div class="row">
        <div class="col-12">
            <div class="titre_home_page">
                <h1>Bienvenue sur le TP de Vivien LARRIBAU et Clément DEJEAN</h1>
                <h5>Vous pourrez accéder aux différentes pages via la nav bar ci-dessus. Elle vous permettra de gérer les sports et les athletes pour les JO 2024</h5>
            </div>
        </div>
    </div>
</div>

